@background-color-level-1: rgb(25, 240, 204);
@background-color-level-2: rgb(247, 240, 155);
@foreground-color-level-1: rgb(17, 73, 2);
@foreground-color-level-2: rgb(224, 22, 22);

.level-button-text(@foreground-color, @div-width) {
    & when(@div-width > 75%) {
        color: darken(@foreground-color, 30%);
    } 
    & when(@div-width > 50%) and (@div-width <= 75%) {
        color: darken(@foreground-color, 15%)
    }
    & when(@div-width <= 50%) {
        color: @foreground-color;
    }
}

.level-button(@foreground-color, @background-color) {
    border-color: @foreground-color;
    color: @foreground-color;
    background: @background-color;
}

h1 {
    color: blue;
}

.level-button-structure {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.level-1 {
    @div-width: 90%;
    width: @div-width;
    border: 1px solid black;
    button {
        &:extend(.level-button-structure);
        .level-button(@foreground-color-level-1, @background-color-level-1);
        .level-button-text(@foreground-color-level-1, @div-width);
    }
}

.level-2 {
    @div-width: 99%;
    width: @div-width;
    border: 1px solid black;
    button {
        &:extend(.level-button-structure);
        .level-button(@foreground-color-level-2, @background-color-level-2);
        .level-button-text(@foreground-color-level-2, @div-width);
    }
}