* {
    margin: 0;
    padding: 10px;
    font-family: Calibri;
}

body {
    background: rgb(215, 231, 243);
}

h1 {
    font-size: 4em;
    color: darkolivegreen;
}

h2 {
    font-size: 3em;
    text-decoration: underline;
    color: orange;
}

img {
    margin: 10px 0px 10px 0px;
    padding: 0;
    border-radius: 10px;
    border: 3px solid dodgerblue;
}

.main-content {
    column-count: 2;
    column-rule: 1px dotted black;
    column-gap: 2em;
}

p {
    margin-top: 1em;
    line-height: 1.5em;
    text-align: justify;
}

a:hover {
    background: dodgerblue;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

table {
    width: 100%;
    border: 3px solid darkorchid;
    border-collapse: separate;
    padding: 1px;
}

thead tr th {
    border-bottom: 3px dashed darkorchid;
    border-spacing: 5px 5px;
    color: darkmagenta;
    font-weight: bolder;
    font-size: 2em;
    text-align: left;
}

tbody tr td {
    background: darkmagenta;
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    color: #ffffff;
}

address {
    line-height: 1.9em;
}

address p {
    border-top: 3px solid darkorchid;
    color: darkorchid;
    font-size: 20px;
}

.subsidiary-cell {
    text-align: center;
}

.type-cell {
    text-align: center;
}